[user]
  name = Ark
  email = target.ark@gmail.com
[core]
  editor = vim -c \"set fenc=utf-8\"
[alias]
  s = status -sb
  c = commit
  a = add
  d = diff
  sd = !"git difftool -y -x \"colordiff -y -W `tput cols`\""
  l = log --graph --decorate=full --all --abbrev-commit
  b = branch
  co = checkout
