[user]
  name = Ark
  email = target.ark@gmail.com
[core]
  editor = vim -c \"set fenc=utf-8\"
[difftool]
  prompt = false
[difftool "icdiff"]
  cmd = icdiff --line-numbers $LOCAL $REMOTE
[difftool "side-by-side-diff"]
  cmd = colordiff --side-by-side --width=`tput cols` $LOCAL $REMOTE
[alias]
  s = status -sb
  c = commit
  a = add
  d = diff
  l = log --graph --decorate=full --all --abbrev-commit
  ll = log --graph --decorate=full --all --abbrev-commit --oneline
  b = branch
  co = checkout

  # diff with side-by-side
  #sd = difftool -t side-diff
  sd = !"f() { git difftool -t icdiff $@ | less; }; f"

  # show <commit> with side-by-side
  #show-y = !"f(){ rev=${1:-HEAD}; git difftool -t side-diff $rev~1 $rev; }; f"
  show-y = !"f(){ rev=${1:-HEAD}; git difftool -t icdiff $rev~1 $rev | less; }; f"
