[user]
  name = Takeshi Kaneko
  email = target.ark@gmail.com
[core]
  editor = vim -c \"set fenc=utf-8\"
[difftool]
  prompt = false
[difftool "icdiff"]
  cmd = icdiff --line-numbers $LOCAL $REMOTE | less
[difftool "side-by-side-diff"]
  cmd = colordiff --side-by-side --width=`tput cols` $LOCAL $REMOTE | less
[alias]
  puush = push
  puuush = push
  puuuush = push
  puuuuush = push
  puuuuuush = push
  puuuuuuush = push
  puuuuuuuush = push
  puuuuuuuuush = push
  puuuuuuuuuush = push
  puuuuuuuuuuush = push
  puuuuuuuuuuuush = push
  puuuuuuuuuuuuush = push
  puuuuuuuuuuuuuush = push
  puuuuuuuuuuuuuuush = push
  puuuuuuuuuuuuuuuush = push
  s = status -sb
  c = commit
  a = add
  d = diff
  l = !"GIT_PAGER='less -p \"\\(HEAD\"' git log --graph --all --date=short --format='%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset)%C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset)'"
  ll = !"GIT_PAGER='less -p \"\\(HEAD\"' git log --graph --decorate=full --all --abbrev-commit --stat-count=5"
  b = branch
  co = checkout
  url = config --get remote.origin.url
  root = rev-parse --show-toplevel
  # diff with side-by-side
  sd = difftool -t icdiff
  # show <commit> with side-by-side
  show-diff = !"f(){ rev=${1:-HEAD}; git difftool -t icdiff $rev~1 $rev | less; }; f"
  # remove all ignored files
  rm-gitignore = !"git rm --cached `git ls-files --full-name --ignored --exclude-from=.gitignore`"

# custom subcommands
  # history <file>  :  https://github.com/pomber/git-history
